<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="col">
    <form method="POST">
        <input type="text" name="query" id="myInput" placeholder="Type to Search"></input>
        <input type="submit" value="search" class="search_button"></input>
    </form>
</div>
<div class="container">
    <div class="row">
        <div class="card  col-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Jira</h5>
                <h6 class="card-subtitle mb-2 text-muted">Related Result get from Jira</h6>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% for d in jira_data %}
                        <a href="{{d.link}}">
                            {{d.name}}
                        </a>
                        <br></br>
                    {% endfor %}
                </h6>
            </div>
        </div>
        <div class="card  col-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Google Drive</h5>
                <h6 class="card-subtitle mb-2 text-muted">Related Result get from Google Drive</h6>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% for d in drive_data %}
                        <a href="{{d.link}}">
                            {{d.name}}
                        </a>
                        <br></br>
                    {% endfor %}
                </h6>
            </div>
        </div>
        <div class="card  col-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Confluence</h5>
                <h6 class="card-subtitle mb-2 text-muted">Related Result get from Confluence</h6>
                <h6 class="card-subtitle mb-2 text-muted">
                    {% for d in con_data %}
                        <a href="{{d.link}}">
                            {{d.name}}
                        </a>
                        <br></br>
                    {% endfor %}
                </h6>
            </div>
        </div>
        <div class="card  col-6" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Slack</h5>
                <h6 class="card-subtitle mb-2 text-muted">Related Result get from Slack</h6>
                <h6 class="card-subtitle mb-2 text-muted">
<!--                     {% for d in slack_data %}
                        <a href="{{d.link}}">
                            {{d.name}}
                        </a>
                        <br></br>
                    {% endfor %} -->
                </h6>
            </div>
        </div>
    </div>
</div>
<style>
    #myInput {
        width: 70%;
        height: 50px;
        overflow: auto;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-left: 250px;
        margin-top: 100px;
        font-size: large;
    }
    .card {
        margin-right: 0px;
        margin-top:30px;
    }
    .search_button{
        height:45px;
        margin-left:5px;
    }
</style>
</body>
</html>